/**
* 1. Klassisches Seitenlayout (begrenzte breite, zentriert)
*/

html {
  background-color: whitesmoke;
}

/**
* 2. Kopfbereich (inklusive Inhalte)
*/

.site-header {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;

  & h1 {
    margin-bottom: 0;
  }

  & p {
    margin-top: 0;
  }
}

/**
* 3. Hauptbereich
*/

/* HOME */
body {
  position: relative;
}

/* header */
#home-header {
  background-image: url(../images/header-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.header__container--box {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  margin-top: 200px;
}

.header__container--box h1,
.header__container--box p,
.header__container--box button {
  opacity: 1;
  color: var(--white);
}

h1 {
  margin-bottom: 30px;
}

@media (max-width: 770px) {
  .header__container--box {
    margin-top: 0;
  }
}

/* main */
main {
  margin-top: 20px;
}

.content {
  position: relative;
  max-width: 800px;
  display: flex;
  margin: auto;
}

.content__row {
  position: relative;
  z-index: 5;
}
.content__title--absolut {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 20px;
}

.content__title {
  background-image: url(../images/flag.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  position: relative;
  z-index: 1;
}

.content__h2 {
  position: absolute;
  top: 30px;
  left: 40px;
  color: var(--white);
}

.content__h2 h2 {
  font-size: 24px;
}

.content__text {
  width: 100%;
  margin-top: 200px;
}
.content__slider {
  position: relative;
}

.carousel-item {
  max-height: 70%;
}

@media (max-width:450px){
  .content__title {
    height: 140px;
  }
}

@media (max-width: 990px) {
  .content__slider {
    margin-top: 100px;
  }

  .content__text {
    width: 100%;
    margin-top: 20px;
  }

  .content__title--absolut {
    top: 0;
  }
}

/* -------------site-------------- */
/* site header container */
.siteheader__container {
  margin-top: 50px;
}

.siteheader__h1 {
  color: var(--primary-color);
  text-align: center;
}

.siteheader__text {
  max-width: 500px;
  display: flex;
  margin: 0 auto;
}

.team__container {
  margin-top: 45px;
}

.team__box {
  align-items: center;
}

.team__image img {
  border-radius: 50%;
  margin-bottom: 20px;
}


@media (max-width: 770px) {
  .team__image img {
    max-width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* --------------site-contact------------- */
.address--title {
  color: var(--primary-color);
  font-family: "Metamorphous";
  font-size: 20px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

address {
  line-height: 2;
}
/**
* 4. Footer
*/
footer {
  margin-top: 50px;
  background-image: url(../images/nav2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 20px;
  justify-content: space-evenly;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__col a {
  color: var(--black);
  font-family: "Quattrocento";
  font-size: 18px;
  text-decoration: none;
  display: inline;
}

.footer__col a:hover,
.footer__col a:focus {
  color: var(--white);
}

